@import url('https://fonts.googleapis.com/css2?family=REM:wght@100;300;400;500;600;700;800;900&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --dark-color: #3A3C4D;
  --link-blue: #0941AE;
  --primary-color: #4198FF;
}
 
html, body{
  font-family: 'REM', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: var(--link-blue);
}